<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Editorial</th>
      </tr>
    </thead>
    <tbody>
        {%for libro in libros%}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{libro.nombre}}</td>
            <td>{{libro.get_tipo_display}}</td>
            <td>{{libro.get_editorial_display}}</td>
        </tr>
        {% empty %}
        <td colspan="4" >Sin Libros de esa categoria</td>
        {%endfor%}
    </tbody>
  </table>